:root {
  --theme-very-dark-green-rgb: 47, 62, 70;
  --theme-dark-green-rgb: 53, 79, 82;
  --theme-mid-green-rgb: 82, 121, 111;
  --theme-light-green-rgb: 132, 169, 140;
  --theme-very-light-green-rgb: 202, 210, 197;


  --max-width: 1100px;
  --primary-content-max-width: 55rem;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 52, 78, 65;
  --background-start-rgb: var(--theme-very-light-green-rgb);
  --background-end-rgb: var(--theme-very-light-green-rgb);

  --card-rgb: var(--theme-very-light-green-rgb);
  --card-border-rgb: 131, 134, 135;

  --banner-rgb: var(--theme-dark-green-rgb);
  --banner-text-rgb: var(--theme-very-light-green-rgb);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--theme-very-dark-green-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 1.56em;
}

main {
  max-width: var(--primary-content-max-width);
  margin: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

article {
  background-color: whitesmoke;
  padding: var(--s1);
}

header {
  color: rgb(var(--banner-text-rgb));
  background-color: rgb(var(--banner-rgb));
}

.card {
  padding: 1rem;
  margin: 1rem;
  background-color: whitesmoke;
  border-radius: 0.5rem;
}


ul.plain {
  list-style-type: none;
  padding-left: 0;
}

img.inline-icon {
  height: 1em;
  width: auto
}
