.banner {
  background-color: rgb(var(--banner-rgb));
  color: rgb(var(--banner-text-rgb));
  padding: 1rem;

  box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075)
    ;
}

.bannerContent {
  justify-content: space-between;
  align-items: flex-end;
  max-width: var(--primary-content-max-width);
  margin: auto;
  padding: 0 2rem;
}

.banner h2 {
  text-align: center;
}

.banner nav {
  padding: 0 1rem;
}

.banner nav ul {
  margin-left:0px;
  align-items: end;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 1rem;
  justify-content: center;
}

/* Non mobile */
@media(min-width: 40rem) {
  .bannerContent {
    display: flex;
  }
  .banner nav ul {
    justify-content: flex-end;
  }
}
